In [1]:
import pandas as pd

### **Let's see the Data set!**

In [10]:
df = pd.read_csv("Dataset\\500_Person_Gender_Height_Weight_Index (1).csv")
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

This data set have 4 Coulmns Gender , height , weight and index.
if we want to create a new feature , we should do some mathmatical opreation in the data set to create a new feature (new column)


### **what about bmi? (عامود لحساب كتلة الجسم)**

### **bmi = weight ÷ Height^2 (in meter)**
the height in this data set not in meter
so we need to convert it from CM to M
to do this we need to create new coulmn :

### **height / 100 **

In [11]:
df['Height_M'] = df['Height'] / 100

### **Let's see what we got!**

In [12]:
df.head()

   Gender  Height  Weight  Index  Height_M
0    Male     174      96      4      1.74
1    Male     189      87      2      1.89
2  Female     185     110      4      1.85
3  Female     195     104      3      1.95
4    Male     149      61      3      1.49

Now we can create new feature from this dataset.
as we mentioned before we want to caluclate bmi

### **bmi = weight ÷ Height^2 (in meter)**

In [13]:
df['BMI'] = df['Weight'] / (df['Height_M'] ** 2)

### **Let's see what we got!!!**

In [14]:
df.head()

   Gender  Height  Weight  Index  Height_M        BMI
0    Male     174      96      4      1.74  31.708284
1    Male     189      87      2      1.89  24.355421
2  Female     185     110      4      1.85  32.140248
3  Female     195     104      3      1.95  27.350427
4    Male     149      61      3      1.49  27.476240

In [15]:

# Add a new column 'is_overweight'
df['is_overweight'] = df['BMI'] > 25

# Print the updated DataFrame
df.head()

   Gender  Height  Weight  Index  Height_M        BMI  is_overweight
0    Male     174      96      4      1.74  31.708284           True
1    Male     189      87      2      1.89  24.355421          False
2  Female     185     110      4      1.85  32.140248           True
3  Female     195     104      3      1.95  27.350427           True
4    Male     149      61      3      1.49  27.476240           True

In [18]:

def categorize_bmi(bmi):
  if bmi < 18.5:
    return 'نقص الوزن'
  elif 18.5 <= bmi < 25:
    return 'الوزن الطبيعي'
  elif 25 <= bmi < 30:
    return 'زيادة الوزن'
  elif 30 <= bmi < 35:
    return 'السمنة من الدرجة الأولى'
  elif 35 <= bmi < 40:
    return 'السمنة من الدرجة الثانية'
  else:
    return 'السمنة المفرطة (الدرجة الثالثة)'

df['BMI_Category'] = df['BMI'].apply(categorize_bmi)
df.head()

,Gender,Height,Weight,Index,Height_M,BMI,is_overweight,BMI_Category
0,Male,174,96,4,1.74,31.708284,True,السمنة من الدرجة الأولى
1,Male,189,87,2,1.89,24.355421,False,الوزن الطبيعي
2,Female,185,110,4,1.85,32.140248,True,السمنة من الدرجة الأولى
3,Female,195,104,3,1.95,27.350427,True,زيادة الوزن
4,Male,149,61,3,1.49,27.476240,True,زيادة الوزن

In [19]:
df['BMI_Category'] = [categorize_bmi(bmi) for bmi in df['BMI']]
df.head()

,Gender,Height,Weight,Index,Height_M,BMI,is_overweight,BMI_Category
0,Male,174,96,4,1.74,31.708284,True,السمنة من الدرجة الأولى
1,Male,189,87,2,1.89,24.355421,False,الوزن الطبيعي
2,Female,185,110,4,1.85,32.140248,True,السمنة من الدرجة الأولى
3,Female,195,104,3,1.95,27.350427,True,زيادة الوزن
4,Male,149,61,3,1.49,27.476240,True,زيادة الوزن

### **Well done , you just created new feature from Raw Data. :) **